<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Data</title>
    <style>
        table, th, td {
            border: 1px solid black;
            padding: 5px 25px;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <h1>Book data</h1>
    <br><br>
    <div>
<table>
    <tr>
        <th>Book title</th>
        <th>Book author</th>
        <th>Book price</th>
    </tr>
                <tr>
                    <td>{{book.bookTitle}}</td>
                    <td>{{book.bookAuthor}}</td>
                    <td>{{book.bookPrice}}</td>

                </tr>
</table>
        <br><br>
        <a href="/books">Back</a>


</body>
</html>